<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
</head>
<style>
    body{
      margin: 0;
      font-family: monospace;
      overflow: hidden;
      background: linear-gradient(135deg, #1c2b5a,  #394b81, #727b96, #ffffff, #ffffff);
      background-size: 400%  400%;
      animation:  gradientAnimation 15s ease infinite;
      display: flex;
      justify-content: center;
      align-items: self-end;
      min-width: 100vh;
    
}
    
    .h1{
        justify-content: center;
        
        
    }
</style>
<body>
    <h1>About Us</h1>
    <p>welcome to our website and  thank you for wisiting our website</p>
    
</body>
</html>